@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #454f17;
  --color-secondary: #453a22;
  --color-accent: #bbb47c;
  --color-background: #ebe8cf;
  --color-copy: #1f261a;
  --color-darkbackground: #222521;
  --font-heading: "Gluten", sans-serif;
  --font-body: "Roboto", sans-serif;
}
